.intro-text {
    margin: 25px auto;
    width: 70%;
    display: flex;
}

.text-box h2 {
    font-size: 42px;
}

.text-box p {
    font-size: 16px;
    padding: 10px 0 0 0;
}

.intro-text img {
    float: right;
    max-width: 320px;
    margin-left: 100px;
}

#usp-section {
    min-height: 425px;
    width: 100%;
    background: var(--usp-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#usp-section h2 {
    color: var(--font-black);
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

#usp-section h2::after {
    position: absolute;
    content: "";
    top: 8px;
    left: -30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #61777F;
}

#usp-section h2::before {
    position: absolute;
    content: "";
    top: 8px;
    right: -30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #61777F;
}

section {
    height: 280px;
    width: 380px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    position: relative;
    border-radius: 10px;
}

section h3 {
    font-size: 1.4rem;
    color: var(--font-black);
    margin-bottom: 10px;
}
