.wrapper-check {
    margin: auto;
    width: 70%;
    display: flex;
    padding: 0 0 6px 0;
}

.search-result-box {
    border-radius: 8px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 56px 0;
}

.search-result-box p {
    padding: 3px 0;
}

.title-container {
    border-bottom: 1px solid #ededed;
    display: flex;
    align-items: baseline;
    margin: 0 0 12px 0;
}

.car {
    width: 300px;
}

.car-box {
    position: relative;
    top: 100px;
    right: 2px;
    margin: 0 0 35px 30px;
}

.no-image {
    width: 175px;
}