.footer {
    background-color: #61777F;
    padding-block: 22px;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    font-size: 18px;
    font-weight: 600;
    color: var(--font-white);
    text-align: center;
}