.wrapper-fleet {
    margin: 25px auto;
    width: 70%;
    display: flex;
}

.text-box-fleet h1 {
    font-size: 42px;
    font-family: Merriweather, sans-serif;
    text-shadow: 1px 1px 1px black
}

.text-box-fleet h3 {
    font-size: 16px;
    padding: 15px 15px 15px 0;
    font-family: Merriweather, sans-serif;
}

.wrapper-fleet img {
    float: right;
    max-width: 320px;
    margin-left: 100px;
}

.input-fleet {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 45px;
    background: #f4be04;
    border-radius: 6px;
}

.input-fleet img {
    margin: 0 30px;
}

.input-fleet input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    text-align: center;
}

.input-fleet input:focus {
    text-transform: uppercase;
}

.magnifying-glass {
    border-radius: 4px;
    border: none;
    padding: 0;
    background-color: transparent;
    color: white;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
}

main.table {
    width: 82vw;
    height: 90vw;
    background-color: #FFF5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table-header {
    width: 100%;
    height: 2.5%;
    background-color: #FFF4;
    padding: .8rem 1rem;
    text-align: center;
    font-size: 14px;
    font-family: Merriweather, sans-serif;
}

.table-body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #FFFB;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: hidden;
}

table {
    width: 100%;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #FFF6;
}

