.wrapper-fleet {
    margin: 25px auto;
    width: 70%;
    display: flex;
}

header h1 {
    font-size: 39px;
    text-shadow: 1px 1px 1px black;
}

header h3 {
    font-size: 16px;
    padding: 15px 15px 15px 0;
}

.wrapper-fleet img {
    float: right;
    max-width: 320px;
    margin-left: 100px;
}

.input-fleet img {
    margin: 0 30px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table, th {
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
    color: var(--font-black);
}

td {
    padding: 10px;
}

main.table {
    width: 82vw;
    height: 70vw;
    background-color: #FFF5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table-header {
    width: 100%;
    height: 5%;
    background-color: var(--table-background);
    padding: .8rem 1rem;
    text-align: center;
    font-size: 14px;
    font-family: Merriweather, sans-serif;
}

.table-body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: var(--table-background);
    margin: .8rem auto;
    border-radius: .6rem;

}

.table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: hidden;
}

table {
    width: 100%;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #FFF6;
}

tbody {
    color: #000000;
}

.searchbox {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 10px;
}

.delete-button, .sellcheck-button {
    padding: 6px;
}
