main {
    background-color:#FFFFFF;
    color: white;
    min-height: 84vh;
    text-align: center;
}

main h1 {
    color: #C8C8C8;
    font-size: 14em;
    margin-block: 0;
}

main h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
    margin: 0 0 15px 0;
}
